body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header", 
    "main",
    "footer";
}

header {
  grid-template: header;
}

main {
  grid-template: main;
}

footer {
  grid-template: footer;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "content";
  padding: 20px 20px;
  gap: 20px;
}


@media (min-width: 768px) {
  main {
    /* padding: 100px; */
    /* gap: 100px; */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content";
  }
  section.activity {
    height: 80%;
    width: 80%;
    margin: auto;
  }
}
