/* Table */
table.questions-table {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--box-shadow);
  border-collapse: collapse;
  margin-bottom: 20px;
}

.questions-table th,
.questions-table td {
  padding: 10px;
  text-align: center;
}

.questions-table th {
  font-weight: bold;
  background-color: var(--table-th);
  color: var(--on-table-th);
  border-bottom: 1px solid var(--strong-table-border);
  cursor: pointer;
}

.questions-table td {
  border-bottom: 1px solid var(--weak-table-border);
}

.questions-table td:nth-child(4) {
  text-align: left;
}

tr.answers-row {
  background-color: var(--subtable-color);
}

.answers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.answers-table th,
.answers-table td {
  padding: 5px;
}

.answers-table th {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--strong-table-border);
}

.answers-table td {
  border-bottom: 1px solid var(--weak-table-border);
}

.answers-table td:nth-child(2) {
  text-align: left;
}

tr.question-row:hover {
  background-color: var(--subtable-color);
  cursor: pointer;
}

.sort-icon {
  margin: auto 0.5em;
  cursor: default;
}

@media (max-width: 768px) {
  .questions-table tr {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:768px) and (max-width: 1200px) {
  .questions-table th:nth-child(6), .questions-table td:nth-child(6){
    display: none;
  }
}

section.item p.actions {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  margin-top: 0.25em;
}

#isMultipleChoiceSelect {
  display: none;
}

#tableSetup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

#actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; 
  width: 100%;
  gap: 10px;
}

#actions button {
  margin: 0;
}
